<div>
<%= car_variant.check_box :_destroy %>
<%= car_variant.label "Fuel Type" %>
<%= car_variant.text_field :fuel_type  %>
<%= car_variant.label "Transmission" %>
<%= car_variant.text_field :Transmission %>
</div>
