<div>
  <h1 class="font-bold text-4xl">Pages#homepage</h1>
  <p>Find me in app/views/pages/homepage.html.erb</p>
  <div data-controller="hello" data-hello-hidden-class="hidden" data-hello-change-class="text-xl text-red-500" data-hello-hightlight-class="border-4 border-red"  >
    <%= button_tag "Add me", data: { action: 'click->hello#add'},  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%= button_tag "Remove me", data: { action: 'click->hello#remove'},  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%= button_tag "Toggle me", data: { action: 'click->hello#toggle'},  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%# <%= button_tag "Toogle Drop Down ", data: { action: 'click->hello#toggle'},  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %1> %>
    <div data-hello-target="text">
      <p> This Text can be Toggle  </p>
    </div>
    <div class="relative inline-block">
      <button data-action="click->hello#dropdowntoggle", class="bg-white rounded border border-gray-400
        py-2 px-4 text-gray-700 hover:text-gray-900
        hover:bg-gray-100 focus:outline-none focus:shadow-outline">
        Dropdown
      </button>
      <ul data-hello-target="dropdown" class="absolute hidden bg-white rounded border 
    border-gray-400 py-2 px-4 text-gray-700 mt-1 z-50
    divide-y divide-gray-400 right-0 w-48">
        <div class="flex flex-row align-center justify-center">
          <li data-action="click->hello#hideandshow"  class="flex-1 block px-2 py-2 text-gray-800 hover:bg-gray-100">Option 1</li>
          <input data-action="click->hello#highlight"  data-action="click->hello#hideandshow" type="checkbox" class="form-checkbox text-indigo-600 bg-gray-100 focus:shadow-outline-indigo focus:border-indigo-500 self-center" />
        </div>
        <li class="block px-2 py-2 text-gray-800 hover:bg-gray-100">Option 2</li>
        <li class="block px-2 py-2 text-gray-800 hover:bg-gray-100">Option 3</li>
        <li data-hello-target="hiddenelement" class="block px-2 py-2 text-gray-800 hover:bg-gray-100 hidden">Option 4</li>
      </ul>
    </div>
  </div>
  <div data-controller="text" data-text-max-value=280 data-text-over-class="text-red-600">
    <textarea data-action="text#updatecounter" data-text-target="field" id="tweetInput" rows="5"></textarea>
    <p data-text-target="showlength"></p>
  </div>
  <div>
    <div data-controller="car-selection">
      <%= form_with model: @car, url: pages_path, method: :post do |form| %>
        <%= form.label :model %>
        <%= form.select :model, @models , { prompt: "Select a country" }, { class: '', data: { action: "change->car-selection#selectmodel" } } %>
        <%= form.label :color %>
        <%= form.select :color, [], {}, {class: "", data: {car_selection_target: "colorSelect"} } %>
        <%= form.label :year %>
        <%= form.number_field :year, in: 1901..2021 %>
        <%= fields_for :variants_attributes do |v| %>
            <%= v.check_box :_destroy %>
            <%= v.label "Fuel Type" %>
            <%= v.select :fuel_type,["petrol", "diesel", "electric"]   %>
            <%= v.label "Transmission" %>
            <%= v.select :transmission, ["manual", "automatic"]%>
          <%# <%= render "variant_form", car_variant: %1> %>
        <% end %>
        <%= form.submit %>
      <% end %>
    </div>
  </div>
</div>
